<%- include('header') %>

<div class="container">
        <% if(user){ %>
        <span>สวัสดีคุณ : <%= user.use_username %>!</span>
        <% } %>
    <h4>คู่มือกรมส่งเสริมสหกรณ์</h4>
    <div class="row row-cols-lg-4  text-center">
        <div class="col">

                <a href="https://www.สหกรณ์จังหวัดชัยภูมิ.com/site/member/img/books/jodtabiancoop.pdf" target="_blank"><img src="https://www.สหกรณ์จังหวัดชัยภูมิ.com/site/member/img/j9.png" alt="" class="img-fluid "></a>

        </div>
        <div class="col">

                <a href="https://www.สหกรณ์จังหวัดชัยภูมิ.com/site/member/img/books/jadtunggroup.pdf" target="_blank"><img src="https://www.สหกรณ์จังหวัดชัยภูมิ.com/site/member/img/j8.png" alt="" class="img-fluid"></a>


        </div>
        <div class="col">

                <a href="https://www.สหกรณ์จังหวัดชัยภูมิ.com/site/member/img/books/kumkab.pdf" target="_blank"><img src="https://www.สหกรณ์จังหวัดชัยภูมิ.com/site/member/img/j6.png" alt="" class="img-fluid"></a>

        </div>
        <div class="col">

            <a href="https://www.สหกรณ์จังหวัดชัยภูมิ.com/site/member/img/books/tuadkan1.pdf" target="_blank"><img src="https://www.สหกรณ์จังหวัดชัยภูมิ.com/site/member/img/j3.png" alt="" class="img-fluid"></a>

        </div>
      </div>
      <div class="row row-cols-lg-4  text-center">
        <div class="col">

            <a href="https://www.สหกรณ์จังหวัดชัยภูมิ.com/site/member/img/books/chaiumnart.pdf" target="_blank"><img src="https://www.สหกรณ์จังหวัดชัยภูมิ.com/site/member/img/j4.png" alt="" class="img-fluid"></a>


        </div>
        <div class="col">

                <a href="https://www.สหกรณ์จังหวัดชัยภูมิ.com/site/member/img/books/khobangkub.pdf" target="_blank"><img src="https://www.สหกรณ์จังหวัดชัยภูมิ.com/site/member/img/j1.png" alt="" class="img-fluid"></a>

        </div>
        <div class="col">

                <a href="https://www.สหกรณ์จังหวัดชัยภูมิ.com/site/member/img/books/lerk.pdf" target="_blank"><img src="https://www.สหกรณ์จังหวัดชัยภูมิ.com/site/member/img/j2.png" alt="" class="img-fluid"></a>

        </div>
        <div class="col">

            <a href="https://www.สหกรณ์จังหวัดชัยภูมิ.com/site/member/img/books/chumrabunchi.pdf" target="_blank"><img src="https://www.สหกรณ์จังหวัดชัยภูมิ.com/site/member/img/j5.png" alt="" class="img-fluid"></a>


        </div>
      </div>
</div>

<%- include('footer') %>